/*div fichario*/


.colunafichario{
  float: left;
  width: 50%;
  padding: 45px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
}

.wrap-comentario-esquerda{
  width: 40vw;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  padding: 0px 0px 5px 5px;
  box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
}

.wrap-comentario-direita {
  width: 40vw;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  padding: 0px 0px 5px 5px;
  box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
}

.rowcomentario {
  height: 30vh;
  width: 30vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
}

.sobre{
  font-size: 3.5vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(255, 255, 255);
  width: 40vw;
  background-color:#5C286F;
  font-family: inter,arial;
  font-weight: normal;
  text-align: center;
}


/* Clear floats after the columns */
.rowfichario:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1040px) {
  .colunafichario {
    width: 100%;
  }
  @media screen and (max-width: 650px) {
    .colunafichario {
      width: 50%;
    }
}
}



#titulo_denuncia{
    text-align: center;
    font-family: inter,arial;
    color:#30113be5;
    font-size: 4.5vh;
    font-weight: 600;
}

#protocolo{
  text-align: center;
  font-family: inter,arial;
  color:#000000e0;
  font-size: 4.5vh;
}

#subtitulo_denuncia{
  margin-left: 8%;
  font-family: inter,arial;
  color: #000000;
  font-size: 6vh;
  font-weight: bolder;
}

#informacoes_denuncia{
    font-family: inter,arial;
    color: #000000;
    font-size: 3vh;
    font-weight: normal;
    margin-left: 8%;
}

.articledenuncia{
  float: left;
  margin-left: 8%;
}

.articleagressor{
  float: right;
  margin-right: 8%;
}


/*parte dos comentários*/

#titulo-c-a{
    margin-left: 8%;
    font-family: inter,arial;
    color: #5C286F;
    font-size: 5vh;
    font-weight: 500;
    
}

#tipocoment{
    font-size: 3vh;
    margin-left: 2%;
    margin-top: 1%;
    font-weight: 200;
    font-family: inter,arial;
    color: #30113b;
    font-weight: bolder
}
#data{
    font-size: 2vh;
    margin-left: 2%;
    margin-top: 1%;
    font-weight: 200;
    font-family: inter,arial;
    color: #08000a;
    font-weight: bold;
  }
#coment{
    font-size: 2.5vh;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: inter,arial;
}


#TelaStatus {
    width: 85%;
    margin-left: 8%;
    box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
    
  }

#divcomentario{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: rgba(0, 0, 0, 0.336) 1px solid;
  }

#naoexiste{
font-size: 3.5vh;
font-weight: normal;
color:black;
font-family: inter,arial;
text-align: left;
} 
  #label-tipo-comentario{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 8%;
    font-family: inter,arial;
    font-size: 2.5vh;
  }
  #select-tipo-comentario{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.2%;
    border-bottom: rgba(0, 0, 0, 0.336) 2px solid;
  }



  .mb-5 {
    margin-bottom: 1rem!important;
    width: 100%;
    
}

.input-group-comentario {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    font-size: 15px;

}
#botaocomentar{
    width:5vw;
    border: none;
    background-color:#08000a;
    color: aliceblue;
    font-size: 4.5vh;
    height: 3.5vw;
    cursor: pointer;

   }
   #botaocomentar:hover{
    width:5vw;
    border: none;
    background-color:#30113b;
    color: aliceblue;
    font-size: 4.5vh;
    height: 3.5vw;
    cursor: pointer;

   }


   .form-comentario{  
    color: black;
    line-height: 1.2;
    border: rebeccapurple;
    display: block;
    width: 75%;
    margin-left: 8%;
    height: 3.5vw;
    background-color:rgba(211, 210, 210, 0.76);
    padding: 0 5px;
    font-size: 3.5vh;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }
   .markdown {
    --ifm-h1-vertical-rhythm-top: 3;
    --ifm-h2-vertical-rhythm-top: 2;
    --ifm-h3-vertical-rhythm-top: 1.5;
    --ifm-heading-vertical-rhythm-top: 1.25;
    --ifm-h1-vertical-rhythm-bottom: 1.25;
    --ifm-heading-vertical-rhythm-bottom: 1;
}