@import url("https://fonts.googleapis.com/css?family=Inter");



*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
   }
   
   

  .rowminhaconta {
    height: 3%;
    width: 4%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
    margin-left: 25%;
  }
  
  .roweditarinfo {
    height: 40vh;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
    margin-bottom: 40%;
    margin-right: 18%;
  }

  .roweditarinfo::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
.roweditarinfo::-webkit-scrollbar-track {
    background-color:#c098ce /* color of the tracking area */
  }
  
 .roweditarinfo::-webkit-scrollbar-thumb {
    background-color:#c6c2c7;   /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
  
  }



  /* Clear floats after the columns */
  .rowminhaconta:after {
    content: "";
    display: table;
    clear: both;
  }

  .roweditarinfo:after {
    content: "";
    display: table;
    clear: both;
  }

/*Esquerda*/

.wrap-editar-esquerda {
    width: 410px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 15px 55px 15px 55px;
    box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
 }
 

 .minhaconta{
    font-size: 3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255, 255, 255);
    width:58.5%;
    background-color:#5C286F;
    font-family: inter,arial;
    font-weight: normal;
    text-align: center;
    margin-left: 25%;
}

 .editar-esquerda-title{
    display: block;
    font-size: 3.5vh;
    font-family: sans-serif;
    color:rgb(21, 1, 39);  
    height: 45px;
    line-height: 1.2;
    text-align: center;
 }

 #nomesobrenome{
    text-align: center;
 }

 #editar-den-andamento{
    text-align: center;
    width: 9vw;
    display: block;
    float: left;

 }

 #editar-den-finalizada{
    text-align: center;
    width: 7.5vw;
    display: block;
    float: right;

 }
 #editar-email{
    text-align: center;
 }


/*Direita*/

 .wrap-editar-direita {
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 15px 55px 15px 55px;
    box-shadow: 0 5px 10px 0px rgba(141, 125, 125, 0.76);
 }

 .editarinfo{
    font-size: 3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: inter,arial;
    background-color:#33133f;
    font-weight: normal;
    width: 85.3%;
    text-align: center;
  }



 .editar-title {
    display: block;
    font-size: 3.5vh;
    font-family: sans-serif;
    color: rgb(21, 1, 39); 
    height: 45px;
    line-height: 1.2;
    text-align: center;
}

.editar-subtitle {
 display: block;
 font-size: 3vh;
 font-family: sans-serif;
 color:rgb(21, 1, 39);  
 height: 45px;
 line-height: 1.2;
 text-align: center;
}

.wrap-input-editar {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 2.5vh;
}

   
   .inputeditar {
       font-size: 2.2vh;
       color: rgb(0, 0, 0);
       line-height: 1.2;
       border: rebeccapurple;
       font-family: inter,arial;
       display: block;
       width: 100%;
       height: 30px;
       background-color:rgba(211, 210, 210, 0.76);
       padding: 0 5px;
   }
   
   .focus-inputeditar {
       position: absolute;
       display: block;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
      cursor: none;
       color: blueviolet;
   }
   
   .focus-inputeditar::before {
       content: "";
       display: block;
       position: absolute;
       bottom: -2px;
       left: 0;
        width: 0;
        height: 2px;
   
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
   
        background-color: blueviolet;
   }
   
   .focus-inputeditar::after {
       font-size: 1.5vh;
       font-family:monospace;
       color: rgb(71, 11, 131);
       line-height: 1.2;
   
       content: attr(data-placeholder);
       display: block;
       width: 100%;
       position: absolute;
       top: 16px;
       left: 0px;
       padding-left: 5px;
       -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
   }
   
   .inputeditar:focus {
       outline: 0;
   }
   
   .inputeditar:focus + .focus-input::after{
       top: -15px;
   }
   
   .inputeditar:focus + .focus-input::before{
       width: 100%;
   }
   
   
   



   .salvar {
    font-size: 2.5vh;
    border: none;
    border-radius: 10px;
    color: rgb(250, 248, 252);
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 4px;
    height: 100%;
    background-color:#5c286fd2;
    cursor:pointer;
    margin-right: 10%;
   }

   .cancelar{
    font-size: 2.5vh;
    border: none;
    border-radius: 10px;
    color: rgb(250, 248, 252);
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 4px;
    height: 7vh;
    background-color:#34153f;
    cursor:pointer;
    margin-right: 10%;
   }

.apagar{
  font-size: 2.5vh;
  border: none;
  border-radius: 10px;
  color: rgb(250, 248, 252);
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 4px;
  height: 100%;
  background-color:#000000;
  cursor:pointer;
  margin-right: 10%;
}



   .login-form:hover {
       cursor: pointer;
   }
