@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

  h1 {
    margin: 1rem auto 4rem;
    font-size: 5vh;
    font-weight: bolder;
    font-family: Inter, Arial;
    color: #000;
  }

  h2{
    font-family: Inter;
    background-color: #272727;
  }
   
  #nome{
    font-size: 18px;
  }
  
  .pbranco{
    color: white;
   
  }
  
  .product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
    z-index: 2;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Inter;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 79%;
    max-width: 1440px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  h2{
    color:#DBC8EA;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 15px;
    color: white;
    background-color: #7e0097dc;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-family: Inter;
  }
  
  .card button:hover {
    opacity: 0.8;
  }

  .react-multi-carousel-list  {
    width: 88vw;
    display: flex;
    align-items: center;
    left: 5vw;
  }
 .frase{
  background-color: transparent;
  color: #272727;
  font-size: 2.5vh;
 }