*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
   }
   
   .coringa {
    width: 100%;
    display: flex;
    background: #000;
   }


   .containermeuspedidos {
       width: 100vw;
       height: 70vh;
      display: flex;
      padding: 10vh 0 10vh 0;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;    
       background-color: rgb(231, 224, 214);
       place-items: center;
   }
   
   .wrapmeuspedidos {
        width: 50vw;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 1vw;
        overflow: hidden;
        padding: 6.7vw 5.5vw 2.3vw 5.5vw;
        box-shadow: 0 0.5vw 1vw 0vw rgba(141, 125, 125, 0.76);
   }

  
  .h3mp{
    font-size: 3.5vh;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1.5vh;
    margin-top: -6vh;
   
  }
  
  #textmp{
    font-size: 3.3vh;
    border-radius: 2vw;
    text-align: center;
  font-family: inter,arial;
    border: black 1.5px solid;
  }
  
 .botaomp {
  font-size: 13px;
  border: none;
  border-radius: 10px;
  color: rgb(250, 248, 252);
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30px;
  background-color: rgb(73, 35, 77);
  cursor:pointer;
  }
  .botaomp:hover {
    opacity: 0.8;
  }
.botaomp:focus,
.botaomp:focus-visible {
    outline: 0.4vw auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #34173e;
      background-color: #ffffff;
    }
    a:hover {
      color: #5c286f;
    }
    .botaomp {
      background-color: #5c286f;
    }
  }