

@import url("https://fonts.googleapis.com/css?family=Inter");

* { 
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}


   .usuario{
    float: right;
    margin-right: 5%;
    background-color: #3f3c3c;
    padding: 1vh;
    border-radius: 5px;
   }
   #conectado{
    font-size: 2vh;
    font-family: inter;
    color: white;
    font-weight:bold;
   }
   .oipolicial {
       width: 100%;
       margin: 0 auto;
      
   }
 
   .containerp-login {
       width: 100%;
       min-height: 100vh;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       padding: 15%;    
       background-color: rgb(231, 224, 214);
   }
  


.mb-3 {
    margin-bottom: 1rem!important;
    width: 100%;
    
}

.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    font-size: 15px;

}

.form-control{  
  color: black;
  line-height: 1.2;
  border: rebeccapurple;
  display: block;
  width: 75%;
  margin-left: 8%;
  height: 3.5vw;
  background-color:rgba(211, 210, 210, 0.76);
  padding: 0 5px;
  font-size: 2.5vh;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

div {
    display: block;
}

.markdown {
    --ifm-h1-vertical-rhythm-top: 3;
    --ifm-h2-vertical-rhythm-top: 2;
    --ifm-h3-vertical-rhythm-top: 1.5;
    --ifm-heading-vertical-rhythm-top: 1.25;
    --ifm-h1-vertical-rhythm-bottom: 1.25;
    --ifm-heading-vertical-rhythm-bottom: 1;
}

   #botaopolpesquisar{
    width:5vw;
    border: none;
    background-color:#08000a;
    color: aliceblue;
    font-size: 4vh;
    height: 3.5vw;
    cursor: pointer;

   }
   #botaopolpesquisar:hover{
    width:5vw;
    border: none;
    background-color:#30113b;
    color: aliceblue;
    font-size: 4vh;
    height: 3.5vw;
    cursor: pointer;

   }

  
  .titulo {
    color: rgb(0, 0, 0);
    font-size: 18px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  
  .colunapolicial {
    float: left;
    width: 50%;
    padding: 25px;
  }

  .row {
    height: 50vh;
    overflow-y: scroll;
  }

  .rolarpolicial:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 900px) {
    .colunapolicial {
      width: 50%;
    }
  }
  

  @media screen and (max-width: 700px) {
    .colunapolicial  {
      width: 100%;
    }
    .input-group {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      font-size: 15px;
  }
  
  .form-control{
    color: beige;
    line-height: 1.2;
    border: rebeccapurple;
    display: block;
    width: 75%;
    margin-left: 8%;
    height: 5vw;
    background-color:rgba(211, 210, 210, 0.76);
    padding: 0 5px;
    font-size: 2.5vh;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }

  #botaopolpesquisar{
    width:5vw;
    border: none;
    color: aliceblue;
    font-size: 3vh;
    height: 5vw;
    cursor: pointer;
    background-color:#08000a;
   }
   #botaopolpesquisar:hover{
    width:5vw;
    border: none;
    color: aliceblue;
    font-size: 3vh;
    height: 5vw;
    cursor: pointer;
    background-color:#30113b;
   }
  }


  @media screen and (max-width: 600px) {
    .input-group {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      font-size: 15px;
  }
  
  .form-control{
    color: beige;
    line-height: 1.2;
    border: rebeccapurple;
    display: block;
    width: 75%;
    margin-left: 8%;
    height: 7vw;
    background-color:rgba(211, 210, 210, 0.76);
    padding: 0 5px;
    font-size: 2.5vh;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }

  #botaopolpesquisar{
    width:5vw;
    border: none;
    color: aliceblue;
    font-size: 3vh;
    height: 7vw;
    cursor: pointer;
    background-color:#000000;
   }
   #botaopolpesquisar:hover{
    width:5vw;
    border: none;
    color: aliceblue;
    font-size: 3vh;
    height: 7vw;
    cursor: pointer;
    background-color:#30113b;
   }
}



  .andamento{
    font-size: 3vh;
    background-color:#5C286F;
    color: aliceblue;
    font-family: inter,arial;
    font-weight: 200;
}
  .den-andamento{
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
  }
  .agressao-andamento{
    font-size: 3.5vh;
    font-family: inter,arial;
    font-weight: normal;
    
}
  .autor-andamento{
  font-size: 2.5vh;
  font-family: inter,arial;
  font-weight: normal;
  text-align: center;

}
.visualizar{
  margin-left: 26%;
  margin-top: 4%;
  font-size: 2vh;
  font-weight: normal;
  font-family: inter,arial;
  border: none;
  border-radius: 10px;
  color: rgb(250, 248, 252);
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5vh;
  background-color:#08000a;
  cursor: pointer;
}
.visualizar:hover{
  margin-left: 26%;
  margin-top: 4%;
  font-size: 2vh;
  font-weight: normal;
  font-family: inter,arial;
  border: none;
  border-radius: 10px;
  color: rgb(250, 248, 252);
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5vh;
  background-color:#30113b;
  cursor: pointer;
}


.finalizada{
  font-size: 3vh;
  background-color:#30113b;
  color: aliceblue;
  font-family: inter,arial;
  font-weight: 200;
}
.den-finalizada{
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
  }
  .agressao-finalizada{
    font-size: 3.5vh;
    font-family: inter,arial;
    font-weight: normal;
    
}
  .autor-finalizada{
    font-size: 2.5vh;
    font-family: inter,arial;
    font-weight: normal;
    text-align: center;
  
}









body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #5C286F; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);   /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
  
  }
 

