


@import url("https://fonts.googleapis.com/css?family=Inter");

* {
    box-sizing: border-box;
  }

  #quemsomos{
    background-color:#fff;
  }


  .imagemquemsomos{
    margin: 0 auto;
    width: 99.1vw;
    height: 35vh;
    object-fit: cover;
}

  .coluna {
    float: left;
    width: 50%;
    padding: 25px;
  }
  

  .rolar:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 900px) {
    .coluna {
      width: 50%;
    }
  }
  

  @media screen and (max-width: 700px) {
    .coluna  {
      width: 100%;
    }
  }

.h2quemsomos{
    font-size: 3.5vh;
    background-color:#a279af;
    color:transparent;
    font-family: inter,arial;
    text-align: center;
}
.pquemsomos{
    font-size: 3vh;
    font-family: inter,arial;
    text-align: justify;
    color: black;
}

.para{
    background-color:transparent;
    color:#2b0c36;
    font-size: 3vh;
    font-family: inter,arial;
    text-align: center;
    font-weight: normal;
}
.buttonquemsomos{
    font-size: 2.5vh;
    border: none;
    border-radius: 10px;
    color: rgb(250, 248, 252);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    height: 30px;
    background-color: #5C286F;
    cursor: pointer;
}


#entrarpolicial{
margin-left: 43%;
margin-top: 2%;
width: 15vw;
object-fit: cover;
  }
  
 #brancopquem{
  color: transparent;
 }
