
* { 
    margin: 0;
    padding: 0;
  }
body{
    font-family: inter, arial;
    height: 100%;
    width: 100%;
}

h2{
    text-align: center;
}

@media (max-width: 1000px), (min-width:700px) {
    #quem{
        font-size: 4vh;
    }
    h2{
        font-size: 2vh;
     
    }
    h1{
        font: 3vh;

    }
  }
  
  @media (max-width: 699px),(min-width:400px) {
    #quem{
        font-size: 6vh;
    }
    h2{
        font-size: 2vh;
    }
    h1{
        font: 3vh;
    }
}
@media (max-width: 399px) {
    #quem{
        font-size: 10vh;
    }
    h2{
        font-size: 2vh;
    }
    h1{
        font: 3vh;
    }

}


#buttonp{
    height: 10vh;
    width: 12vw;
    background-color:  #DBC8EA;
    font-size: 4vh;
    border-color: none;
    border-width: 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 96vh;
    
}
#buttonp a:visited{
    text-decoration: none;
}
#buttonp a:link{
    text-decoration: none;
}
#buttonp a:active{
    text-decoration: none;
}