


@import url("https://fonts.googleapis.com/css?family=Inter");

* {
    box-sizing: border-box;
  }
  .imagem{
    max-width: 1440px;
    margin: 0 auto;
    width: 99.1vw;
    height: 90vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .coluna {
    float: left;
    width: 50%;
    padding: 25px;
  }
  

  .rolar:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 900px) {
    .coluna {
      width: 50%;
    }
  }
  

  @media screen and (max-width: 700px) {
    .coluna  {
      width: 100%;
    }
  }

.h2quemsomos{
    font-size: 4vh;
    background-color:#5C286F;
    color: aliceblue;
    font-family: inter,arial;
}
.pquemsomos{
    font-size: 3.5vh;
    font-family: inter,arial;
    text-align: justify;
}

.para{
    background-color:transparent;
    color:#000000;
    font-weight: normal;
    font-size: 3.5vh;
    font-family: inter,arial;
    text-align: center;
}
.buttonquemsomos{
    font-size: 2.5vh;
    border: none;
    border-radius: 10px;
    color: rgb(250, 248, 252);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    height: 30px;
    background-color: rgb(73, 35, 77);
    cursor: pointer;
}
#entraradm{
    color: #5d047544;
    font-size: 9vh;
    position: absolute;
    bottom: 45vh;
    display: flex;
   margin-left: 80%;
}
#entraradm:hover{
  color: #ffffff;
  font-size: 9vh;
  position: absolute;
  bottom: 45vh;
  display: flex;
 margin-left: 80%;
}
.buttonpolicial{
    font-size: 3vh;
    border: none;
    border-radius: 10px;
    color: rgba(250, 248, 252, 0.911);
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-left: 40%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }
  #branco{
    color: white;
  }