



/*swiper*/
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .slide-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div.swiper-button-prev,
  div.swiper-button-next {
     color:rgb(0, 0, 0);
  }
  
  

  /*slide 2 feito com card então card 2 neeé*/
  
  
 

  .react-multi-carousel-list  {
    width: 88vw;
    display: flex;
    align-items: center;
    left: 5vw;
  }

  

  @media screen and (max-width: 3000px), (min-width: 1024px) {
    
    .cardswiper {
      text-align: center;
      font-family: Inter;
      margin-left: 3vw;
      margin-right: 3vw;
      width: 79%;
      max-width: 1440px;
    }
    #itemcardswiper{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #cuide{
  font-size: 3vh;
  font-family: inter,arial;
  font-weight: normal;
  text-align: center;
}
#conheca{
  color: #5C286F;
  text-align: center;
}
#mantenha{
  font-size: 3vh;
  font-family: inter,arial;
  font-weight: normal;
  text-align: center;
}
  }
.backdenuncia{
  font-size: 7vh;
  color: black;
}

      @media screen and (max-width: 1024px) {
        
        .imagemcardswiper{
          width: 100%;
       
   
        }
        
        
        .cardswiper {
          text-align: center;
          font-family: Inter;
          margin-left: 3vw;
          margin-right: 3vw;
        }
    
        .slide-item{
          width: 100%;
          height: 70%;
          
        }
        
        #cuide{
          font-size: 3vh;
          font-family: inter,arial;
          font-weight: normal;
          text-align: center;
        }
        #conheca{
          color: #5C286F;
          text-align: center;
        }
        #mantenha{
          font-size: 3vh;
          font-family: inter,arial;
          font-weight: normal;
          text-align: center;
        }
          }




