.h1 {
  background-color: #5c286f;
  color: #e8e8e8;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 5px;
  width: 100%;
  border-top-left-radius: 3.6vw;
  border-top-right-radius: 3.6vw;
}

.formulario {
  background-color: #dbc8ea;
  width: 90vw;
  height: auto;
  border: #5c286f;
  border-top-left-radius: 7.8%;
  border-top-right-radius: 7.8%;
  border-bottom-right-radius: 7.8%;
  border-bottom-left-radius: 7.8%;
  border-style: groove;
  margin: 0 auto;
}

fieldset{
 background-color: #dab0f5;
 text-align: center;
}

.label {
  margin-left: 2%;
}

.texto {
  width: 300px;
  height: 75px;
}

.crime {
  color: black;
}

.titCrime {
  border-style: dashed;
  border-color: #dab0f5;
}

.titLocal {
  border-style: dashed;
  border-color: #dab0f5;
}

.botoes {
  text-align: center;
}

.voltar {
  background-color: #dab0f5;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: #5c286f;
  border-style: groove;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-left: auto;
  font-size: 20px;
}

.avancar {
  background-color: #dab0f5;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: #5c286f;
  border-style: groove;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-right: auto;
  font-size: 20px;
}