* { 
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
  }
  
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #5C286F; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(180, 0, 204);   /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
  
  }
 