@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.popup-box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  left: 0;
  top: 170px;
  width: 100%;
  height: 100vh;
}

.box {
  position: absolute;
  width: 40%;
  left: 28vw;
  height: 300px;
  background-color: #efe3f8;
  border: 1px solid #e6d2f6;
  border-radius: 0px;
  margin: 0px auto;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box2 {
  position: absolute;
  align-items: center;
  width: 40%;
  left: 28vw;
  min-height: 40px;
  background-color: #efe3f8;
  border: 1px solid #e6d2f6;
  border-radius: 0px;
  margin: 102px auto;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-close {
  cursor: pointer;
  border-width: 0px;
  background-color: #efe3f8;
  font-size: larger;
  position: fixed;
  right: calc(30.7% - 1.5%);
  top: 26%;
}

.btn-close2 {
  cursor: pointer;
  border-width: 1px;
  background-color: transparent;
  font-size: larger;
  position: fixed;
  right: calc(28.8% - 1.8%);
  top: 20%;
}

h2 {
  text-align: center;
  font-size: 10pt;
  background-color: #350048;
  color: antiquewhite;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

#p1 {
  color: #350048;
  margin-top: 8%;
  font-size: 14pt;
  text-align: center;
  font-family: "Inter", sans-serif;
}
p {
  text-align: center;
  font-size: 15px;
  margin: 0%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  color: #350048;
  margin-top: 3%;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#p2 {
  color: #350048;
  margin-top: 10%;
  margin-left: 5%;
  font-size: 14pt;
  text-align: left;
  font-family: "Inter", sans-serif;
}

h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 450px;
  height: 10vh;
  top: 5%;
  margin-left: 55px;
  font-size: 14pt;
}

#protocolo {
  border: 1px solid #e6d2f6;
  font-size: 20px;
  text-align: center;
  margin-left: 28%;
}

#proc {
  margin-left: 40%;
  margin-top: 4%;
  border-radius: 15px;
  font-size: 15px;
  border: 0px;
  box-shadow: #e6d2f6;
  background-color: #5a236e;
  color: aliceblue;
  cursor: pointer;
  padding: 6px 12px;
  font-family: "Inter", sans-serif;
}

/*zap*/

.btn-close2 {
  cursor: pointer;
  border: 1px solid rgb(245, 245, 220);
  border-radius: 50%;
  position: fixed;
  right: calc(28.8% - 1.8%);
  top: 17%;
}

.zap1 {
  position: absolute;
  left: 84vw;
  top: 41vh;
  border-radius: 50px;
  width: 15vw;
  height: 5vh;
  background-color: #228b22;
  color: #e6d2f6;
  font-family: "Inter", sans-serif;

  border-width: 0px;
}

.texto {
  position: absolute;
  top: 10vh;
  color: black;
}

.compre {
  position: absolute;
  left: 65vw;
  top: 49vh;
}
.popup-boxzap {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  left: 0;
  top: 150px;
  width: 100%;
  height: 100vh;
}

.boxzap {
  position: absolute;
  width: 45%;
  left: 25vw;
  min-height: 300px;
  background-color: #f3eef7;
  border: 1px solid #e6d2f6;
  border-radius: 0px;
  margin: 0px auto;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.falar {
  position: absolute;
  left: 11.5vw;
  top: 35vh;
  border-radius: 50px;
  width: 25vw;
  height: 5vh;
  background-color: #228b22;
  color: #e6d2f6;
  font-family: "Inter", sans-serif;
  font-size: larger;
  border-width: 0px;
}
.botaofecha {
  cursor: pointer;
  border-width: 0px;
  background-color: transparent;
  width: 2vw;
  height: 3vh;
  position: fixed;
  right: calc(28% - 1.5%);
  top: 24%;
  font-size: larger;
}
